.Form{
    /* height: 50vmin; */
    margin: 50px 0 50px 0;
    padding: 5px 5px;    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;    

}

.Form .horario{        
    display: flex;
    padding: 10px;
    flex-direction: row; 
    text-align: center;
    width: 100%;
}
.Form p{
    margin: auto 10px ;
    font-size: 0.91rem;    
    font-family: 'Gotham-Book';
}
.Form h2{
    text-align: left;
    color: #808080;
    font-size: 1.5rem;
    font-family: 'Gotham-Book';
}

.Form .Form-Horario{
    margin: auto 0 ;
    height: 3.5vmin;    
}
.Form .options{        
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    flex-direction: column; 
    text-align: left;
    width: 100%;
}
.question{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 30%;
}
.selectBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.selectBox .values {
    padding: 20px 0px 20px 0px;        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.values p{
    font-size: 1.1rem;
    font-family: 'Gotham-Book';
    color: #808080;
}

.filter{
    margin: 0px 10px;
    padding: 0;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
}

.closeUnits{
    display: flex;    
    flex-direction: row;
    justify-content: center;
}
.closeUnits p{    
    margin: 0 auto;
    font-family: 'Gotham-Book';
    font-size: 0.99rem;
    color: #333333; 
}
.foundResults p{   
    font-size: 0.95rem;
    color: #333333; 
    font-family: 'Gotham-Book';
}
.foundResults p span{   
    font-size: 1.2rem; 
    font-family: 'Gotham-Black';    
}


.btnSection {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vmax;
    padding-right: 5vmax;
}
.btnSection button{
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Gotham-Bold';
    width: 100%;    
    margin:20px  10px ;
}
.search{
    background-color: #FFB612;
    border-radius: 2px;    
    border-color: transparent;
}
.clean{
    background-color: transparent;      
    border-color: rgba(0,0,0,.1);
}
@media only screen and (max-width: 600px) {          
    .btnSection button{        
        margin-left:0 !important ;
        margin-right: 0 !important;
    }
    .btnSection{     
        margin: 0 20px !important;
        padding: 5px ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }
    
    .closeUnits p{    
        margin: 0;
        margin-top:10px;
        padding: 0;
        font-size: 1.15rem;
    }
    .foundResults p{ 
        margin: 0;
        margin-top:10px;
        padding: 0;
        font-size: 1.15rem;
    }
    .filter{
        display: flex;    
        flex-direction: column;
        justify-content: space-between;
    }
}